/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image:url(../images/cover-image-light.png);
  --fucsia: #FF8DCB;
  --rec:transparent;
  --bottom:#353430;
  --FoSi-base:18px;
  --FoSi-header:clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --purple:#FFC2E6;
  --black:#000000;
  --color-text:#353430;
  --text-color:#353430;
  --fo-Family: "IBM Plex mono";
  --bold:bold;
  --bg-color:#FFF1F7;

  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
